section.contato {
    width: 100%;
    min-height: 200px;
    background-color: var(--bg-violeta);
    padding: 25px 0;
}

.contato-wraper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

}

.contato-flex {
    width: 40%;
}

.contato-txt {
    text-align: center;
    width: 70%;
    margin-bottom: 25px;
    font-size: 1em;
    font-size: 2em;
    margin: 0 auto;
}

.button-contato {
    margin-top: 40px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}


.button-contato button {
    margin-top: 20px;
    padding: 10px 15px;
    width: 60%;
    border-radius: 20px;
    border: solid 1px black;
    background-color: var(--bg-violeta);
    transition: transform 0.8s ease;
    color: white;
}

.button-contato button:hover {
    transform: scale(1.02);
    background-color: var(--bg-violeta-button);

}

.button-contato button a {
    text-decoration: none;
    color: black;
    width: 100%;
}

.contato-flex figure {
    text-align: center;
}

.contato-flex figure img {
    max-width: 80%;
}

@media screen and (max-width:838px) {
    .contato-flex {
        width: 80%;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 25px;
        min-width: none;
    }


}