footer {
    width: 100%;
    min-height: 300px;
    margin-top: 40px;

}

.footer-header {
    width: 100%;
    text-align: left;
}

.footer-header p {
    padding: 5px 15px;
}

.footer-wraper {
    display: flex;
    justify-content: space-around;
    padding: 25px;
    align-items: flex-start;
    flex-wrap: wrap;
}

.wraper-footer {
    margin-top: 20px;
    width: 30%;
    padding: 15px;
}

.wraper-footer h2 {
    margin-bottom: 10px;
}

.wraper-footer p {
    margin-bottom: 5px;
}

.wraper-footer .redes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.rede1 {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: var(--bg-violeta);
    display: flex;
    justify-content: center;
    align-items: center ;
}
.rede1:hover {
    background-color: var(--bg-violeta-button);
    cursor: pointer;
    transition: 0.3s;
}   

.rede1 figure img{
    width: 30px;
    height: 30px;

}
@media screen and (max-width: 650px) {
    .wraper-footer {
        margin-top: 20px;
        width: 80%;
        padding: 15px;
        text-align: center;
    }

    .footer-header {
        width: 100%;
        text-align: center;
    }
}